.cloud-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cloud-section img{
  width: 100%;
}
.cloud-frame {
  background: white;
  color: #1d3039;
  padding-bottom: 90px;
  text-align: center;
  width: 100%;
}
.cloud-section h2{
  font-weight: 800;
  font-size: 80px;
  color: #254B70;
  margin: 10px;
}
