/* Container holding all features */
.features-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* Media query: for larger screens, switch to grid layout */
@media (min-width: 768px) {
  .features-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.feature {
  padding: 20px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 50px auto;
}

.feature h3 {
  transition: transform 0.2s, text-shadow 0.2s;
  font-weight: 900;
  font-size: clamp(1.3rem, 2vw, 1.7rem);
}

.feature:hover h3 {
  transform: scale(1.25);
  text-shadow: 0 4px 16px rgba(255, 255, 255, 0.7),
    0 1px 2px rgba(255, 255, 255, 0.5);
}

.feature p {
  font-weight: 600;
  font-size: clamp(1rem, 1.8vw, 1.3rem);
  max-width: 100%;
}

.feature div {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 4 / 3;
}

.feature img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}