/* FOOTER */
.footer {
  background: white;
  color: #1d3039;
  display: flex;
  justify-content: center;
}
.frame{
  padding: 20px 30px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-top-width: 2px;
}

.footer-logos img {
  height: 35px;
  margin-left: 15px;
}