<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>PolyBuddy</title>
</head>
<body style="margin:0;background:#1d3039;font-family:Nunito,sans-serif;color:white">

  <div style="max-width:600px;margin:auto;padding:40px">

    <img src="https://res.cloudinary.com/djnaj7n78/image/upload/v1766915749/logoPolyBuddy_mupirx.png" width="120" style="margin-bottom:20px"/>

    <img 
      src="https://res.cloudinary.com/djnaj7n78/image/upload/v1766915790/welcome_kryaij.png"
      alt="Bienvenue sur PolyBuddy"
      width="100%"
      style="
        max-width:520px;
        display:block;
        margin:20px auto 30px;
        border-radius:16px;
      "
    />


    <h2 style="color:#2ba8fb">Bonjour {{firstname}} 👋</h2>

    <p>
      Merci pour ton inscription sur <strong>PolyBuddy</strong>.
    </p>

    <p>
      Ton compte <strong>{{role}}</strong> est actuellement
      <span style="color:#6fc5ff">en attente de validation</span>.
    </p>

    <p>
      Notre équipe vérifiera ton justificatif et te notifiera dès que ton compte sera activé.
    </p>

    <a href="{{frontUrl}}" 
       style="
         display:inline-block;
         margin-top:30px;
         padding:12px 30px;
         background:#2ba8fb;
         color:white;
         border-radius:100px;
         text-decoration:none;
         font-weight:bold">
      Retourner à PolyBuddy
    </a>

    <p style="margin-top:40px;font-size:12px;opacity:0.7">
      © PolyBuddy - Ton réseau d'étudiants à Polytech Angers
    </p>

  </div>

</body>
</html>
