.groups-panel.MuiPaper-root {
  box-shadow: 0px 2px 3px 1px rgba(121, 197, 239, 0.18);
  border-radius: 14px;
}
.groups-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}

.groups-title.MuiTypography-root {
  color: var(--mui-text-primary);
  padding: 8px 12px 6px 12px;
  margin: 0;
  flex-shrink: 0;
  font-weight: bold !important;
  font-size: 1rem;
}

.groups-list.MuiList-root {
  padding-top: 0;
  padding-bottom: 0;
  flex-grow: 1;
  overflow-y: auto;
}