.avatar-placeholder {
  border-radius: 50%;
  background-color: #e0e0e0; /* grey.300 */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Circular loader inside */
.avatar-placeholder-loader {
  color: #9e9e9e !important; /* grey.500 */
}
