/* FEATURES */
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.big-btn {
  margin-top: 20px;
  padding: 12px 25px;
}


